
|    <!-- ///  begin partners  /// -->
|    <div class="partners wow fadeInUp">
|      <div class="container">
|        <div class="section-heading">
|          <h1>Partners</h1>
|          <p class="lead">Lorem ipsum dolor sit amet</p>
|        </div>
|        <div class="row text-center">
|          <div class="col-lg-12">
|            <ul class="list-inline">                  
|              <li><img src="assets/img/partners/facebook.png" alt=""></li>
|              <li><img src="assets/img/partners/magento.png" alt=""></li>
|              <li><img src="assets/img/partners/twitter.png" alt=""></li>
|              <li><img src="assets/img/partners/wordpress.png" alt=""></li>
|              <li><img src="assets/img/partners/facebook.png" alt=""></li>
|              <li><img src="assets/img/partners/magento.png" alt=""></li>
|              <li><img src="assets/img/partners/twitter.png" alt=""></li>
|              <li><img src="assets/img/partners/wordpress.png" alt=""></li>
|              <li><img src="assets/img/partners/facebook.png" alt=""></li>
|              <li><img src="assets/img/partners/magento.png" alt=""></li>                  
|              <li><img src="assets/img/partners/facebook.png" alt=""></li>
|            </ul>
|          </div>
|        </div>
|      </div>
|    </div>
|    <!-- ///  end partners  /// -->