|<style>
|	.name {font-size:13px; color:#3BAFDA; font-weight: bold;}
|	.jobtitle {font-size:13px; color:#3BAFDA; font-weight: bold;}
|	.title {font-size:16px; color:#656D78; font-weight: bold;}
|	.detail {font-size:13px; color:#000; }
|	.imagename {position: absolute; bottom: 0; left: 1.5em; width: 400px; font-weight: bold; color: #fff; margin-left: auto;
|		margin-right: auto;}
|	.imagenamesmall {position: absolute; bottom: 0; left: 1.5em; width: 400px; font-size:12px; font-weight: bold; color: #fff; margin-left: auto;
|		margin-right: auto;}
|	</style>
|    <!-- ///  begin partners  /// -->
|    <div class="partners wow fadeInUp">
|      <div class="container">
|        <div class="section-heading">
|          <h1>후원사</h1>
|          <p class="lead">감사합니다.</p>
|        </div>
|	<div class="row">
|				<div class="col-sm-6">
|					<div class="row" >
|						<div class="col-sm-3">
|							<div class="outer-border item">
|								<div class="middle-border">
|									<img src="gruter_logo.png" width="150" class=" inner-border" alt="">
|								</div>
|							</div>
|						</div>
|						<div class="col-sm-9">
|							<p><span class="detail">
|								(주)그루터는 2006년 2월 설립된 이후 End-to-End 빅데이터 플랫폼 개발에 전념하고 있는 빅데이터 전문 기업이다.
|오픈소스 빅데이터 웨어하우스 시스템 Apache Tajo 개발을 주도하고 있으며, 기업 환경을 위한  G-DPU, 클라우드 환경을 위한 G-TaaS 등 빅데이터 분석 플랫폼 솔루션을 제공하고 있다.  그루 터는 “누구나 빅데이터 전문가가 될 수 있다” 는 표제를 중심으로, 빅데이터 관련 로드맵을 지속적으로 공개하고 있고, 다양 한 저술 활동 및 발표를 통해 빅데이터 저변 확대에 노력하고 있다.                                     
|							</span></p>
|						</div>
|					</div>
|				</div>
|			</div>
|      </div>
|    </div>
|    <!-- ///  end partners  /// -->
