- import quickstart.action._

!!! 5
html
  head
    meta(content="text/html; charset=utf-8" name="viewport" content="width=600")
|      <title>R User Conference 2015</title>
|      <!-- /// font icons  /// -->
|      <link rel="stylesheet" type="text/css" href="assets/fonts/fontawesome/css/font-awesome.min.css">
|      <link rel="stylesheet" type="text/css" href="assets/fonts/linecons/css/linecons.css">
|      <!-- ///  google fonts  /// -->
|      <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
|      <!-- ///  animate.css  /// -->
|      <link rel="stylesheet" type="text/css" href="assets/css/plugins/animate/animate.css">
|      <!-- ///  bootstrap-select.css /// -->
|      <link rel="stylesheet" type="text/css" href="assets/css/plugins/select/bootstrap-select.css">
|      <!-- ///  bootstrap.css  /// -->
|      <link rel="stylesheet" type="text/css" href="bootstrap-3.1.1/css/bootstrap.css">      
|      <!-- ///  main CSS file  /// -->        
|      <link rel="stylesheet" type="text/css" href="assets/css/main.css">    
!= antiCsrfMeta

link(rel="shortcut icon" href={publicUrl("favicon.ico")})


|<style>
|/* responsive text queries */
|@media screen and (max-width: 992px) {
|  p,{
|    font-size: 95%;
|  }
|  h1 {
|    font-size: 24px;  
|  }
|}
|@media screen and (max-width: 768px) {
|  p, {
|    font-size: 90%;
|  }
|  h1 {
|    font-size: 20px;  
|  }
|.counter .count-digits p {
|  width: 100px;
|  height: 100px;
|  line-height: 100px;
|}
|}
|</style>
|  <body>
|<div id="navigation" class="wrapper">
|<div class="navbar navbar-fixed-top navbar-inverse" id="top">
|<div class="navbar-inner">
|<div class="inner">
|<div class="container-fluid">
|<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
|<span class="sr-only">Toggle navigation</span>
|<span class="icon-bar"></span>
|<span class="icon-bar"></span>
|<span class="icon-bar"></span>
|</button>
|<div class=" navbar-collapse collapse" id="navbar">
|<ul class="nav navbar-nav navbar-right" id="main-menu">
|<li><a href="/"><b><font style="color:white">Main</font></b></a></li>
|<!-- programs -> program 으로 변경 -->
|<li><a href="/Schedule"><b><font style="color:white">Program</font></b></a></li>
|<li><a href="/Speaker"><b><font style="color:white">Speakers</font></b></a></li>
|<li><a href="/Info"><b><font style="color:white">Infomation</font></b></a></li>
|<li><a href="/Contact"><b><font style="color:white">Registration</font></b></a></li>
|</ul>
|</div>
|<!--/.nav-collapse -->
|</div>
|</div>
|</div>
|</div>
|</div>
|  
|    <!-- ///  begin promo  /// -->
|    <div class="promo" id="home" style="background-image:url(/img/r-korea.jpg);">
|      <!-- ///  semitransparent layer  /// -->
|      <div class="color-correction"></div> 
|      <!-- ///  begin entry  /// -->         
|      <div class="container">
|        <div class="row">
|          <!-- ///  begin text section  /// -->
|          <div class="col-md-6 wow fadeInDown" data-wow-duration="2s">
|            <div class="promo-text">
|              <h1><i class="fa fa-signal success-color"></i> <b>R</b> User Conference 2015</h1>
|              <hr>                  
|              <p class="lead"> Real </p>
|            </div>
|          </div>
|          <!-- ///  end text section  /// -->
|        </div>            
|      </div>
|      <!-- ///  end entry  /// -->
|    </div>       
|    <!-- ///  end promo  /// --> 
!~ jsRenderFlash()
!= renderedView

!= jsForView
|    <footer class="main-footer">
|    	<div class="container">
|    		<div class="row">
|    		</div>
|    	</div>
|    </footer>
|   <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>        
|    <script src="assets/js/libs/modernizr-latest.js"></script>        
|    <script src="assets/js/libs/jquery-1.11.0.min.js"></script>     
|    <script src="bootstrap-3.1.1/js/bootstrap.min.js"></script>   
|    <!-- ///  plugins  /// -->
|    <script src="assets/js/plugins/fitvids/jquery.fitvids.js"></script>
|    <script src="assets/js/plugins/select/bootstrap-select.min.js"></script>
|    <script src="assets/js/plugins/gmap3/gmap3.min.js"></script>
|    <script src="assets/js/plugins/scrollTo/jquery.scrollTo.js"></script>
|    <script src="assets/js/plugins/nav/jquery.nav.js"></script>
|    <script src="assets/js/plugins/countdown/countdown.js"></script>
|    <script src="assets/js/plugins/placeholder/jquery.placeholder.js"></script>
|    <script src="assets/js/plugins/validator/jquery.form-validator.min.js"></script>
|    <script src="assets/js/plugins/wow/wow.min.js"></script>        
|    <script src="assets/js/main.js"></script>  