<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<br>
		<h2><font style="color:rgb(0,150,167)">주요일정</font></h2><hr>
		<h4>2015.04.20 ~ : 컨퍼런스 홈페이지 오픈</h4>
		<h4>2015.05.11 ~ : 사전접수 시작</h4>
		<h4>~ 2015.05.30 : 발표자 모집</h4>
		<h4>~ 2015.06.13 : 후원 및 자원봉사 모집</h4>

		<br>

		<form class="form-inline">
		<h2><font style="color:rgb(0,150,167)">자원봉사자를 모집하고 있습니다. 자원봉사를 희망하시는 분은 아래의 형식에 정보를 입력후 제출해 주십시오.</font></h2><br>
			<div class="form-group">
				<label><font size=4.000rem>이름</font></label><input type="text" class="form-control" placeholder="홍길동"></input>
			</div>
			<div class="form-group">
				<label><font size=4.000rem>전화번호</font></label><input type="text" class="form-control" placeholder="010-1234-5678"></input>
			</div>
			<div class="form-group">
				<label><font size=4.000rem>이메일</font></label><input type="email" class="form-control" placeholder="volunteer@rkorea.com"></input>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<br>
		<h2><font style="color:rgb(0,150,167)">발표자 모집</font></h2><hr>
		<h4>발표 지원 접수는 <font color="red">5.30</font>일 까지 받습니다. golden_temple@hotmail.co.kr로 발표제목과 초록을 보내주시기 바랍니다.</h4>
			<h4> 발표주제는 예시는 다음과 같습니다.</h4>
				<div style="font-size: 17px">
					1.이미지 처리에 있어 Deep Neural Network의 활용<br>
					2.Graphical Model의 한계와 개선 방안<br>
					3.Network Analaysis에 있어 R의 연산능력 개선<br><br>
					위 사례는 하나의 예시일 뿐 주제는 자유롭게 정하셔도 됩니다.<br>
				</div>

			</div>
			<div class="col-xs-1"></div>
		</div>