<center>
<h1>자원봉사자</h1><br><br>
<form class="form-inline">
  <div class="form-group">
<label>이름</label><input type="text" class="form-control"></input>
<label>전화번호</label><input type="text" class="form-control"></input>
<label>이메일</label><input type="email" class="form-control"></input>
</div>
</form>
<br>
<h1>주요일정</h1>
<h3>2014.4.19 컨퍼런스 홈페이지 오픈</h3>
<h3>2014.5.30 발표자 마감</h3>
<h3>2014.6.15 필요한 일</h3>
<br>
<h1>발표자 모집</h1>
<h3>발표자 모집은 5.30일 까지 모집합니다. 선호하는 발표주제는 다음과 같습니다.</h3>
<ul><li>1</li><li>2</li><li>3</li><li>4</li></ul>
</center>
<h1>문의사항:ddd@ddd.com</h1>


