<div class="row">
	<div class="col-xs-1"></div>
		<div class="col-xs-10">
<br>
<h1><font style="color:rgb(0,150,167)">자원봉사자를 모집하고 있습니다.</font></h1><br>
<form class="form-inline">
  <div class="form-group">
<label><font size=4.000rem>이름</font></label><input type="text" class="form-control"></input>
</div>
  <div class="form-group">
<label><font size=4.000rem>전화번호</font></label><input type="text" class="form-control" placeholder="xxx-xxxx-xxxx"></input>
</div>
  <div class="form-group">
<label><font size=4.000rem>이메일</font></label><input type="email" class="form-control" placeholder="volunteer@goit.com"></input>
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
<br>
<h1><font style="color:rgb(0,150,167)">주요일정</font></h1>
<h3>2014.4.19 컨퍼런스 홈페이지 오픈</h3>
<h3>2014.5.30 발표자 마감</h3>
<h3>2014.6.15 필요한 일</h3>
<br>
<h1><font style="color:rgb(0,150,167)">발표자 모집</font></h1>
<h3>발표자 모집은 <font color="red">5.30</font>일 까지 모집합니다. 선호하는 발표주제는 다음과 같습니다.</h3>
<div style="font-size: 24px">
<i class="glyphicon glyphicon-ok" style="color:green"></i>발표?<br>
<i class="glyphicon glyphicon-ok" style="color:green"></i>발표?<br>
<i class="glyphicon glyphicon-ok" style="color:green"></i>발표?<br>
</div>
<h1>문의사항:golden_temple@hotmail.co.kr</h1>
</div>
	<div class="col-xs-1"></div>
</div>