    <div class="counter">
    	<div class="container">
    		<div class="row">
    			<!-- ///  digits  /// -->
    			<div class="col-md-8">
    				<!-- ///  to start the countdown the only requirement is the data-date attribute /// -->
    				<div class="row" id="countdown" data-date="2015/06/26">
    					<div class="col-xs-3 count-digits wow fadeInDown" data-wow-delay="1s">
    						<p id="days">20</p>
    						<span class="lead">Days</span>
    					</div>
    					<div class="col-xs-3 count-digits wow fadeInDown" data-wow-delay="1.2s">
    						<p id="hours">16</p>
    						<span class="lead">Hours</span>
    					</div>
    					<div class="col-xs-3 count-digits wow fadeInDown" data-wow-delay="1.4s">
    						<p id="minutes">10</p>
    						<span class="lead">Minutes</span>
    					</div>
    					<div class="col-xs-3 count-digits wow fadeInDown" data-wow-delay="1.6s">
    						<p id="seconds">10</p>
    						<span class="lead">Seconds</span>
    					</div>
    				</div>
    			</div>                      
    			<div class="col-md-4 text-center wow fadeInUp" data-wow-delay="1.8s">
    				<h1>세종대학교 컨벤션 센터</h1>
    				<p class="lead">
    					June 26, 2015<br> 
    				</p>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- ///  end countdown  /// -->
    
    <!-- ///  begin photos  /// -->
    <div class="photo">
    	<div class="container">            
    		<div class="row mt20">
    			<div class="col-sm-12 wow fadeInRight">
    				<div class="photo-wrapper">
    					<div id="photoSlider" class="carousel slide" data-ride="carousel">
    						<div class="carousel-inner">     
    							<div class="item active">
    								<div class="col-xs-5">
    									<div class="promo-text">
    										<h1><b>R</b> User Conference 2015</h1>
    										<hr>                  
    										<p class="lead"> Join, Network and Grow with R</p>
    									</div>
    								</div>
    								<div class="col-xs-7">
    									<img class="img-responsive" src="/img/lastyear/rcon-kor-3.jpg" alt="">
    								</div>
    							</div>   
    							<div class="item">
    							<div class="col-xs-5">
    								<div class="promo-text">
    									<h1><b>R</b> Conference 2015</h1>
    									<hr>                  
    									<p class="lead"> 자원봉사자를 모집합니다. </p>
    								</div>
    								</div>
    								<div class="col-xs-7">
    									<img class="img-responsive" src="/img/lastyear/rcon-kor-9.jpg" alt="">
    								</div>
    							</div>
    						</div>
    					</div>   
    				</div>
    				<div class="text-center">
    					<div class="btn-group">
    						<a href="#photoSlider" data-slide="prev" class="btn btn-empty-inverse">
    							<span class="glyphicon glyphicon-chevron-left"></span>
    						</a>
    						<a href="#photoSlider" data-slide="next" class="btn btn-empty-inverse">
    							<span class="glyphicon glyphicon-chevron-right"></span>
    						</a>
    					</div>                  
    				</div>                                             
    			</div>              
    		</div>
            <div class="row">
            <div class="col-xs-4" ></div>
            <div class="col-xs-4" >
                <p>주최:R Korea</p>
                <p>후원사 리스트</p>  
                </div>     
                <div class="col-xs-4" ></div>         
            </div>

    	</div>
    </div>

    <!-- ///  end photos  /// -->

    <!-- ///  begin map, subscribe, contacts  /// -->
    <!-- ///  set your venue address in data-location attribute  /// -->
    <!-- ///  end map, subscribe, contacts  /// -->
    <!-- ///  end content  /// -->
    
    <!-- ///  begin footer  /// -->

    <!-- ///  end footer  /// -->
    <!-- ///  start script  /// -->
    <!-- ///  libs  /// -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>        
    <script src="assets/js/libs/modernizr-latest.js"></script>        
    <script src="assets/js/libs/jquery-1.11.0.min.js"></script>     
    <script src="bootstrap-3.1.1/js/bootstrap.min.js"></script>   
    <!-- ///  plugins  /// -->
    <script src="assets/js/plugins/fitvids/jquery.fitvids.js"></script>
    <script src="assets/js/plugins/select/bootstrap-select.min.js"></script>
    <script src="assets/js/plugins/gmap3/gmap3.min.js"></script>
    <script src="assets/js/plugins/scrollTo/jquery.scrollTo.js"></script>
    <script src="assets/js/plugins/nav/jquery.nav.js"></script>
    <script src="assets/js/plugins/countdown/countdown.js"></script>
    <script src="assets/js/plugins/placeholder/jquery.placeholder.js"></script>
    <script src="assets/js/plugins/validator/jquery.form-validator.min.js"></script>
    <script src="assets/js/plugins/wow/wow.min.js"></script>        
    <script src="assets/js/main.js"></script>       