<style>
	.name {font-size:13px; color:#3BAFDA; font-weight: bold;}
	.jobtitle {font-size:13px; color:#3BAFDA; font-weight: bold;}
	.title {font-size:16px; color:#656D78; font-weight: bold;}
	.detail {font-size:13px; color:#000; }
	.imagename {position: absolute; bottom: 0; left: 1.5em; width: 400px; font-weight: bold; color: #fff; margin-left: auto;
		margin-right: auto;}
	.imagenamesmall {position: absolute; bottom: 0; left: 1.5em; width: 400px; font-size:12px; font-weight: bold; color: #fff; margin-left: auto;
		margin-right: auto;}
	</style>

	<div class="speakers" id="speakers">
		<div class="container">
			<div class="section-heading">
				<h1>Speakers</h1>
			</div> 
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
					<div class="row" style="box-shadow: 0 0 30px gray; padding:10px 30px 10px 30px; margin-top: 50px;">
						<div class="col-sm-3">
							<div class="outer-border item">
								<div class="middle-border">
									<img src="koyoungkyung.png" width="150" class=" inner-border" alt="정도희">
								</div>
								<div class="imagename">
									<p>고영경<br>그루터 책임</p>
								</div>
							</div>
						</div>
						<div class="col-sm-9">
							<p><span class="title"> Apache Tajo와 R을 연동한 빅데이터 분석 </span></p>
							<p><span class="detail">
								실무 환경의 데이터 규모가 점점 커지면서, R을 빅데이터 분석에 이용하는 방법에 대한 관심도 커지고 있다.
단일 머신으로 처리하기 힘든 대용량 데이터를 MapReduce, Hive, Tajo 등  
외부 분산처리 시스템과 연동해 처리하는 방식도 자주 사용되고 있다.      
이 세션에서는 고성능 빅데이터 분석 엔진 Tajo와 연동하여, R에서 SQL을 이용해 빅데이터를 처리하고 
정제된 데이터를 고급 분석에 활용하는 방법을 예제 중심으로 설명한다.                                       
							</span></p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
					<div class="row" style="box-shadow: 0 0 30px gray; padding:10px 30px 10px 30px; margin-top: 50px;">
						<div class="col-sm-3">
							<div class="outer-border item">
								<div class="middle-border">
									<img src="kimseungwook.jpg" width="150" height="100%" class=" inner-border" alt="정도희">
								</div>
								<div class="imagenamesmall">
									<p>김승욱 / 기상청 <br>Big Data Application Team</p>
								</div>
							</div>
						</div>
						<div class="col-sm-9">
							<p><span class="title">R을 활용한 기상 데이터 시각화 및 활용</span></p>
							<p><span class="detail">
								통계청의 행정구역 경계지도와 기상청의 AWS 데이터를 바탕으로 정보 시각화와 자신이 원하는 지점의 기상정보를 추출하는 방법에 대하여 소개한다. 그리고 기상청의 기상 빅데이터를 소개와 더불어 활용 방안에 대한고민을 함께하고자 한다.                               
							</span></p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
					<div class="row" style="box-shadow: 0 0 30px gray; padding:10px 30px 0 30px; margin-top: 50px;">
						<div class="col-sm-3">
							<div class="outer-border item">
								<div class="middle-border">
									<img src="http://res.cloudinary.com/dobny9ati/image/upload/v1428856663/kimjiyoung_gzpz2r.png" width="150" class=" inner-border" alt="정도희">
								</div>
								<div class="imagename">
									<p>김지영<br>한국전자통신연구원</p>
								</div>
							</div>
						</div>
						<div class="col-sm-9">
							<p><span class="title">Stochastic Social Network Analysis in R (STATNET)</span></p>
							<p><span class="detail">
								디바이스들이 IoT화 되면서 수집하고 분석할 수 있는 많은 데이터들이 생성되고 있는 가운데, 홈 디바이스들도 빠르게 IoT화 되어가고 있다. 이에 따라 다양한 종류, 제조사, 특징을 가지고 있는 홈 내 데이터에 대해 수집하고 분석할 수 있는 플랫폼이 요구되고 있다. 본 발표에서는 PMML을 기반으로 분석 실행 모델을 정의하고, 이를 기반으로 분석을 실행하는 R 기반의 홈 데이터 분석 플랫폼과 본 플랫폼을 활용한 분석의 예로 전기밥솥 중심의 가구 식습관 패턴 분석에 대해 발표하고자 한다.                                                         
							</span></p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
					<div class="row" style="box-shadow: 0 0 30px gray; padding:10px 30px 0 30px; margin-top: 50px;">
						<div class="col-sm-3">
							<div class="outer-border item">
								<div class="middle-border">
									<img src="jungdohee.jpg" width="150" class=" inner-border" alt="정도희">
								</div>
								<div class="imagename">
									<p>정도희<br>SKT DataCenter</p>
								</div>
							</div>
						</div>
						<div class="col-sm-9">
							<p><span class="title">키노트 : 기업에서의 데이터 사이언스, 그 실제 현실과 비전</span></p>
							<p><span class="detail">
								기업 내부에서 벌어지는 데이터 사이언스의 실제 상황을 살펴보고자 합니다.<br>
								- 어떤 사람들이 어떻게 일하는지<br>
								- 어떤 일들이 어떤 과정으로 진행되는지 <br>
								- 어떤 이유로 많은 일들이 잘 진행되지 않는지<br>
								- 어떤 어려움과 한계가 있는지<br>
								- 어떤 왜곡과 오해들이 있는지<br>
								- 어떤 기쁨과 즐거움이 있는지<br>
								이러한 현실을 바탕으로 데이터 사이언스의 미래와 비전을 함께 나누고자 합니다.                                                                   
							</span></p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
					<div class="row" style="box-shadow: 0 0 30px gray; padding:10px 30px 0 30px; margin-top: 50px;">
						<div class="col-sm-3">
							<div class="outer-border item">
								<div class="middle-border">
									<img src="choichoongil.jpg" width="150" class=" inner-border" alt="정도희">
								</div>
								<div class="imagenamesmall">
									<p>채충일<br>Pennsylvania State Univ.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-9">
							<p><span class="title">Stochastic Social Network Analysis in R (STATNET)</span></p>
							<p><span class="detail">
								사회연결망을 이용한 연구 또는 프로젝트에 대한 관심이 늘어감에 따라 R을 이용한 소셜네트워크 분석에 대한 관심도 커지고 있음. 기존의 사회과학분야 연구에서 주로 UCINET, Netminer등의 상용 소프트웨어가 주로 이용되었으나 Stochastic and longitudinal social network analysis의 기법이 발전함에 따라 R을 사용한 Social network analysis의 수요도 증가할 것으로 예상됨. 때문에 이번 발표에서는 R을 사용한 기본적인 Social Network Analysis의 기법과 Stochastic social network analysis의 기법인 Exponential Random Graph Model을 소개하고 R에서의 사회연결망분석이 어떤 장점이 있는지를 논의하는것을 목적으로 함.                                                           
							</span></p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
		</div>
	</div>

