<style>
	.name {font-size:13px; color:#3BAFDA; font-weight: bold;}
	.jobtitle {font-size:13px; color:#3BAFDA; font-weight: bold;}
	.title {font-size:16px; color:#656D78; font-weight: bold;}
	.detail {font-size:13px; color:#000; }
	.imagename {position: absolute; bottom: 0; left: 1.5em; width: 400px; font-weight: bold; color: #fff; margin-left: auto;
		margin-right: auto;}
	</style>

	<div class="speakers" id="speakers">
		<div class="container">
			<div class="section-heading">
				<h1>Speakers</h1>
			</div> 
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
					<div class="row" style="box-shadow: 0 0 30px gray; padding:10px 30px 0 30px; margin-top: 50px;">
						<div class="col-sm-3">
							<div class="outer-border item">
								<div class="middle-border">
									<img src="jungdohee.jpg" width="150" class=" inner-border" alt="정도희">
								</div>
								<div class="imagename">
									<p>정도희<br>SKT DataCenter</p>
								</div>
							</div>
						</div>
						<div class="col-sm-9">
							<p><span class="title">키노트 : 기업에서의 데이터 사이언스, 그 실제 현실과 비전</span></p>
							<p><span class="detail">
								기업 내부에서 벌어지는 데이터 사이언스의 실제 상황을 살펴보고자 합니다.<br>
								- 어떤 사람들이 어떻게 일하는지<br>
								- 어떤 일들이 어떤 과정으로 진행되는지 <br>
								- 어떤 이유로 많은 일들이 잘 진행되지 않는지<br>
								- 어떤 어려움과 한계가 있는지<br>
								- 어떤 왜곡과 오해들이 있는지<br>
								- 어떤 기쁨과 즐거움이 있는지<br>
								이러한 현실을 바탕으로 데이터 사이언스의 미래와 비전을 함께 나누고자 합니다.                                                                   
							</span></p>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
		</div>
	</div>

